server:
  port: 8089
spring:
  datasource:
    url: jdbc:mysql://localhost:3308/cards
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:8082/"
  application:
    name: "cards"
  rabbitmq:
    host: "localhost"
    username: "guest"
    password: "guest"
    port: 5672
management:
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
  endpoint:
    shutdown:
      access: unrestricted
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8084/eureka/
info:
  app:
    name: "cards"
    description: "cards config micorservices"
    version: 1.0
logging:
  level:
    com:
      eazybytes:
        cards: DEBUG