server:
  port: 8087
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/accountdb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
  config:
    import: "optional:configserver:http://localhost:8082/"
  application:
    name: "account"
  profiles:
    active: "prod"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://localhost:8084/eureka/
info:
  app:
    name: "account"
    description: "account micorservice intances"
    version: 1.0
resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 2
        failure-rate-threshold: 50
        wait-duration-in-open-state:
          seconds: 10000
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration:
          nanos: 1000
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2
  ratelimiter:
    configs:
      ratelimitertest:
        limit-for-period: 1
        limit-refresh-period:
          seconds: 5
        timeout-duration:
          seconds: 1

