spring:
  application:
    name: "eurekaserver"
  config:
    import: optional:configserver:http://localhost:8082/
management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true