services:
  network-deploy-service:
    networks:
      - eazybank
  microservice-base-config:
     extends:
       service: network-deploy-service
     environment:
       SPRING_RABBITMQ_HOST: "rabbit"
     deploy:
      resources:
        limits:
          memory: 800m
  microservice-configserver-config:
    extends:
      service: microservice-base-config
    environment:
        SPRING_PROFILES_ACTIVE: default
        SPRING_CONFIG_IMPORT: configserver:http://serveurconfig:8082/
