services:
  network-deploy-service:
    networks:
      - eazybank
  microservice-base-config:
     extends:
       service: network-deploy-service
     environment:
       SPRING_RABBITMQ_HOST: "rabbit"
     deploy:
      resources:
        limits:
          memory: 800m
  microservice-configserver-config:
    extends:
      service: microservice-base-config
    environment:
        SPRING_PROFILES_ACTIVE: default
        SPRING_CONFIG_IMPORT: configserver:http://serveurconfig:8082/
        EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eurekaserver:8084/eureka/
    depends_on:
      eurekaServer:
        condition: service_healthy
  connection-data-base:
    extends:
      service: network-deploy-service
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_USERNAME: root
    healthcheck:
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
      test: [ "CMD","mysqladmin","ping","-h","localhost","--user=root","--password=root" ]

